.btn-primary{
  background-color: #1bdbe0;
  border-color: #1bdbe0;
  color: white;
  font-weight: bold;
}

.btn-primary:hover {
  color: #fff;
  background-color: #17babe;
  border-color: #16afb2;
}
